---
import { Github, Linkedin } from "@lucide/astro";

const socialLinks = [
  {
    icon: Github,
    href: "https://github.com/piotrWaw1",
    label: "GitHub",
    color: "hover:text-primary",
  },
  {
    icon: Linkedin,
    href: "https://www.linkedin.com/in/piotr-wawrze%C5%84czyk-6aa15a262/",
    label: "LinkedIn",
    color: "hover:text-blue",
  },
];
---

<div
  class="after:from-primary/30 fixed bottom-0 left-6 z-40 hidden flex-col items-center gap-6 after:h-24 after:w-px after:bg-gradient-to-b after:to-transparent xl:left-10 xl:flex"
>
  {
    socialLinks.map((link) => (
      <a
        href={link.href}
        aria-label={link.label}
        class={`text-muted-foreground transition-all hover:-translate-y-1 ${link.color}`}
      >
        <link.icon class="h-5 w-5" />
      </a>
    ))
  }
</div>

<div
  class="after:from-accent/30 fixed right-6 bottom-0 z-40 hidden flex-col items-center gap-6 after:h-24 after:w-px after:bg-gradient-to-b after:to-transparent xl:right-10 xl:flex"
>
  <a
    href="mailto:p.wawrzenczyk1@gmail.com"
    class="text-muted-foreground hover:text-accent font-mono text-xs tracking-widest transition-all [writing-mode:vertical-lr] hover:-translate-y-1"
  >
    p.wawrzenczyk1@gmail.com
  </a>
</div>
