---
import "@/styles/global.css";
import Layout from "@/layouts/Layout.astro";
import { Navbar } from "@/components/sections/navbar";
import SideElements from "@/components/sections/side-elements.astro";
import Hero from "@/components/sections/hero.astro";
import About from "@/components/sections/about.astro";
import Experience from "@/components/sections/experience.astro";
import Project from "@/components/sections/projects.astro";
import { Contact } from "../components/sections/contact";
import Footer from "../components/sections/footer.astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<Layout>
  <Navbar client:load />
  <SideElements />
  <main>
    <Hero />
    <About />
    <Experience />
    <Project />
    <Contact client:load />
  </main>
  <Footer />
  <!--<Welcome />-->
</Layout>
