---
import "@/styles/global.css";
import Hero from "../../components/sections/hero.astro";
import Footer from "../../components/sections/footer.astro";
import Project from "../../components/sections/projects.astro";
import { Toaster } from "sonner";
import { Navbar } from "../../components/sections/navbar";
import { Contact } from "../../components/sections/contact";
import Layout from "../../layouts/Layout.astro";
import Experience from "../../components/sections/experience.astro";
import ScrollProgress from "../../components/scroll-progress";
import SideElements from "../../components/sections/side-elements.astro";
import About from "../../components/sections/about.astro";
---

<Layout>
  <!--<Cursor client:load />-->
  <Navbar client:load />
  <SideElements />
  <ScrollProgress client:idle />
  <main>
    <Hero />
    <About />
    <Experience />
    <Project />
    <Contact client:visible />
  </main>
  <Footer />
  <Toaster client:idle />
</Layout>
