---
interface Props {
  lang?: "en" | "pl";
  canonical: string;
}

const { lang = "en", canonical } = Astro.props;

const meta = {
  en: {
    description:
      "Piotr Wawrzeńczyk - Frontend Developer specializing in React and UI design. Explore my projects, skills, and get in touch.",
  },
  pl: {
    description:
      "Piotr Wawrzeńczyk - Frontend Developer specjalizujący się w React i UI design. Zobacz moje projekty, umiejętności i skontaktuj się ze mną.",
  },
};

const { description } = meta[lang];
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href={canonical} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>Piotr Wawrzeńczyk</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    /* cursor: none; */
  }

  /* @media (hover: hover) and (pointer: fine) {
    html,
    body {
      cursor: none;
    }

    a,
    button,
    input,
    textarea,
    select {
      cursor: none;
    }
  } */

  html::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
