<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Piotr Wawrzeńczyk - Frontend Developer specializing in React and UI design. Explore my projects, skills, and get in touch for freelance work."
    />
    <title>Piotr Wawrzeńczyk</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    /*cursor: none;*/
  }

  html::-webkit-scrollbar {
    display: none;
  }

  html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
